<div class="siteContain">
  <div class="nowDataContain">
    <!-- The linkPosHelp div allows the Powered by DarkSky link to be placed
        at the bottom of the container without awkwardly relying on other elements pushing it down-->
      <div class="linkPosHelp">
        <h1 class="noMargin centerText nowTime">{{_currentTime | date:'hh:mmaa'}}</h1>

        <img src="../../assets/images/{{weatherData.currently.icon}}.png" class="nowIconImg" />

        <h3 class="noMargin centerText nowIcon">{{weatherData.currently.icon}}</h3>

        <h3 class="noMargin centerText nowTemp">{{weatherData.currently.temperature.toFixed(UnitRound())}}{{UnitGet()}}</h3>

        <p class="noMargin centerText nowSummery">{{SummaryGet()}}</p>


        <a href="https://darksky.net/poweredby/"><p class="noMargin centerText poweredLink nowSummery">Powered by DarkSky</p></a>
        </div>

  </div>

  <div class="dayDataContain">
    <div class="dayData" *ngFor="let dayData of weatherData.daily.data" >

      <h3 class="noMargin dayDisplayText" >{{TimeGet(dayData.time) | date:'EEE'}}</h3>

      <div class="dayContentBox">
        <img src="../../assets/images/{{dayData.icon}}.png" class="dayIconImg" />
      </div>

      <div class="dayContentBox" id="MaxTemp">
        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayLabelText">Max:</h3>
        </div>

        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayTempText">{{dayData.temperatureHigh.toFixed(UnitRound())}}</h3>
        </div>
      </div>

      <div class="dayContentBox" id="MinTemp">
        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayLabelText">Min:</h3>
        </div>

        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayTempText">{{dayData.temperatureLow.toFixed(UnitRound())}}</h3>
        </div>
      </div>

      <div class="dayContentBox" id="SunRise">
        <div class="dayHalfDataBox">
          <img class="sunIconImg dayMargin" src="../../assets/images/sun-rise.png">
        </div>

        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayLabelText">{{TimeGet(dayData.sunriseTime) | date:'hh:mm'}}</h3>
        </div>
      </div>

      <div class="dayContentBox" id="SunSet">
        <div class="dayHalfDataBox">
          <img class="sunIconImg dayMargin" src="../../assets/images/sun-set.png">
        </div>

        <div class="dayHalfDataBox">
          <h3 class="dayMargin dayLabelText">{{TimeGet(dayData.sunsetTime) | date:'hh:mm'}}</h3>
        </div>
      </div>

      <div class="summeryContentBox" id="Summery">
        <p class="daySummery dayMargin">{{dayData.summary}}</p>
      </div>
    </div>

  </div>
</div>
