<div class="siteContain">
  <div class="nowDataContain">
    <!-- The linkPosHelp div allows the Powered by DarkSky link to be placed
        at the bottom of the container without awkwardly relying on other elements pushing it down-->
      <div class="linkPosHelp">
        <h1 class="noMargin centerText" fittext>00:00AM</h1>

        <img src="../../assets/images/clear-day.png" class="nowIconImg" />

        <div class="nowIconText">
          <h3 class="noMargin centerText" fittext>clear-day</h3>
        </div>

        <div class="nowTempText">
          <h3 class="noMargin centerText" fittext>0.0°C</h3>
        </div>

        <p class="noMargin centerText nowSummery">Light rain in the coming few days. High tempretures will max at 3C and bottom out at 0C</p>


        <a href="https://darksky.net/poweredby/"><p class="noMargin centerText poweredLink">Powered by DarkSky</p></a>
        </div>

  </div>

  <div class="dayDataContain">

  </div>
</div>
